.header {
   height: 20vh;
   width: 100vw;
   background-color: #4a4a4e;
}

.main {
   width: 75%;
   height: 70vh;
   margin: 0 auto;
   background-color: white;
}

.footer {
   height: 10vh;
   width: 75%;
   margin: 0 auto;
   background-color: black;
}

body {
   background-color: lightgray;
}